.tittle_car{
  position: relative;
  bottom: 390px;
  left: 470px;
  color:white;
  font-family: segoe script;
}

mat-card{
  position: relative;
  bottom: 50px;
  width: 700px;
  height:600px;
  right: 40px;
  background-color: #fff;
}

.table{
  width: 500px;
  position: relative;
  bottom: 690px;
  left:710px;
}

.cart-bolos{
  position:relative;
  left: 30px;
}



.containerbotaopag{
  position: relative;
  bottom: 650px;
}

.contador{
  position: relative;
  left: 1150px;
  bottom: 90px;
  width: 30px;
  height: 25px;
  background-color: rgb(97, 65, 65);
  border-radius:13px;
  padding-left: 9px;
  padding-top:4px;
  color: white;
}

.text-end{
  color: white;
  font-family: segoe script;
}
